mixin top-slider(mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' top-slider--' + modsList[i].trim();
      }
    }

  section(class=allMods)&attributes(attributes)
    .top-slider__container
      .top-slider__item
          img(src='img/interior_detail_by_ELFTUG.png', alt='top-slide1')
      //- .top-slider__item
      //-   img(src='img/interior_detail_by_ELFTUG.png', alt='top-slide2')
      //- .top-slider__item
      //-   img(src='img/interior_detail_by_ELFTUG.png', alt='top-slide3')
      //- .top-slider__item
      //-   img(src='img/interior_detail_by_ELFTUG.png', alt='top-slide4')
      //- .top-slider__item
      //-   img(src='img/interior_detail_by_ELFTUG.png', alt='top-slide5')
      .top-slider__arrow.top-slider__arrow--left
      .top-slider__arrow.top-slider__arrow--right

    .top-slider__dots
      a.top-slider__dots-item.top-slider__dots-item--active(href='#')
      a.top-slider__dots-item(href='#')
      a.top-slider__dots-item(href='#')
      a.top-slider__dots-item(href='#')
      a.top-slider__dots-item(href='#')
