-
  var mainMenu = [
    {
      "id": "0",
      "name": "Home",
      "url": "/"
    },
    {
      "id": "10",
      "name": "About",
      "url": "",
    },
    {
      "id": "20",
      "name": "Services",
      "url": "#"
    },
    {
      "id": "30",
      "name": "Portfolio",
      "url": "#"
    },
    {
      "id": "30",
      "name": "Contact",
      "url": "#"
    },
  ];
