mixin main-nav(mods)
  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-nav--' + modsList[i].trim();
      }
    }

  nav.main-nav(class=allMods)&attributes(attributes)
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link.main-nav__link--active(href='#')
          p Home
      li.main-nav__item
        a.main-nav__link(href='#')
          p About
      li.main-nav__item
        a.main-nav__link(href='#')
          p Services
      li.main-nav__item
        a.main-nav__link(href='#')
          p Portfolio
      li.main-nav__item
        a.main-nav__link(href='#')
          p Contact
