@mixin homestead_display($mx-font-size, $mx-font-color) {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}

@mixin homestead_display($mx-font-size, $mx-font-color) {
  font-family: 'Droid Sans Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}

@mixin homestead_display($mx-font-size, $mx-font-color) {
  font-family: Lobster, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}

@mixin homestead_display($mx-font-size, $mx-font-color) {
  font-family: YanoneKaffeesatz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}
