@mixin logo{

}

// вычисляем положение верхней точки спрайта в блоке
// $sh - высота спрайта
// $fh - высота фрейма
@mixin topcalc($sh, $fh) {
  $top-point: calc((#{$fh} / 2) - (#{$sh} / 2));
  @if #{$top-point} > 0 {
    top: $top-point;
  }
  @else {
    top: 0;
  }
}

// аналогично для левой точки
// $sw - высота спрайта
// $fw - высота фрейма
@mixin leftcalc($sw, $fw) {
  $left-point: calc((#{$fw} / 2) - (#{$sw} / 2) + 10px);
  @if #{$left-point} > 0 {
    left: $left-point;
  }
  @else {
    left: 0;
  }
}

@mixin blockrules() {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  width: $page-width;
  height: 1px;
  background-color: $col-border-details;
}


