// В этом файле должны быть стили для БЭМ-блока greeting, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.greeting {

  $block-name:                &; // #{$block-name}__element

  width: 100%;

  &__text {
    color: $text-gray;
    text-align: center;
    font-family: $font-Lobster;
    line-height: 1.2em;
  }

  &__blue-text {
    text-decoration: none;
    color: $logo-blue;
  }
}
