//- extends ../pug/layout.pug
include ../pug/mixins.pug

doctype html
html(class='page no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='theme-color', content='#ffffff')
    //- meta(name='msapplication-TileColor', content='#5bbad5')    //- (meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title DotDesign | Home

    block head
      link(rel='stylesheet', href='css/bootstrap-grid.css')
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.
    .page__inner
      +page-header(page-header)(class='row no-gutters')
        +logo('/', 'main')
        nav.page-header__nav.row.no-gutters
          +main-nav()(class='col-9')
          .page-header__search-wrap.col-3
            form.page-header__search-form(id='search-form', name='search-form', action='none', method='post')
              input.page-header__search-input(type='type', id='search-input', name='search-input')
              input.page-header__search-submit(type='submit', value='Search')

      .page__content.no-gutters
        main.row.no-gutters
          +top-slider()(class='top-slider col-12')

          sectiom.greeting.row.no-gutters
              h2.greeting__text.col-12 Hello, my name is #[a.greeting__blue-text(href='#')!= 'Jennifer Doe'] and I'm a top freelance interior designer. This is my online portfolio. If you like my work, #[a.greeting__blue-text(href='#')!= 'contact me'] and I'll see what I can do for you...

          +details()(class='details row')

          +bottom-slider()(class='bottom-slider row')

    +page-footer()(class='row')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')

//- block content
//-   h1 Заголовок
//-   p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
