//- extends ../pug/layout.pug
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='theme-color', content='#ffffff')
    //- meta(name='msapplication-TileColor', content='#5bbad5')    //- (meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title DotDesign | Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content

        +page-header()
          +logo('/')
            img(src='img/demo-logo.svg', alt='Logo', width='64', height='15')
          block nav

        block content
          p содержимое

      .page__footer-wrapper
        +page-footer()
          block footer
            p «Подвал»
            p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

    block page-bottom
      script(src='js/bundle.js')

//- block meta
//-   title Главная
//-   meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')

//- block content
//-   h1 Заголовок
//-   p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
