//- extends ../pug/layout.pug
include ../pug/mixins.pug

doctype html
html(class='page no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    meta(name='msapplication-TileColor', content='#00a300')
    meta(name='theme-color', content='#ffffff')
    //- meta(name='msapplication-TileColor', content='#5bbad5')    //- (meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title DotDesign | Home

    block head
      link(rel='stylesheet', href='css/bootstrap-grid.css')
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.
    .page__inner
      .page__content.no-gutters
        +page-header(page-header)(class='row no-gutters')
          +logo('/', 'main')

          nav.page-header__nav.row.no-gutters
            +main-nav()(class='col-9')

            .page-header__search-wrap.col-3
              form.page-header__search-form(id='search-form', name='search-form', action='none', method='post')
                input.page-header__search-input(type='type', id='search-input', name='search-input')
                input.page-header__search-submit(type='submit', value='Search')

        main.row.no-gutters
          +top-slider('top-slider')(class='col-12')

          .greeting.row.no-gutters
            h2.greeting__text.col-12 Hello, my name is #[a.greeting__blue-text(href='#')!= 'Jennifer Doe'] and I'm a top freelance interior designer. This is my online portfolio. If you like my work, #[a.greeting__blue-text(href='#')!= 'contact me'] and I'll see what I can do for you...

          section.details.row.row.no-gutters

          section.bottom-slider.row
      //-       .bottom-slider__container.col-12
      //-         .bottom-slider__item.col-4
      //-           img.bottom_slider__item-img(src='', alt='bottom-slide1')
      //-         .bottom-slider__item.col-4
      //-           img.bottom_slider__item-img(src='', alt='bottom-slide2')
      //-         .bottom-slider__item.col-4
      //-           img.bottom_slider__item-img(src='', alt='bottom-slide3')

      //- footer.footer
      //-   .footer__item.col-3
      //-     h3.footer__subhead Latest posts
      //-     ul.footer__posts-list
      //-       li.footer__posts-item
      //-         a.footer__list-link(href='#')!= 'Graphic Design'
      //-       li.footer__posts-item
      //-         a.footer__list-link(href='#')!= 'Web Design'
      //-       li.footer__posts-item
      //-         a.footer__list-link(href='#')!= 'Logo'
      //-       li.footer__posts-item
      //-         a.footer__list-link(href='#')!= 'Custom CMS'
      //-       li.footer__posts-item
      //-         a.footer__list-link(href='#')!= 'Web Hosting'

      //-   .footer__item.col-3
      //-     h3.footer__subhead Twitter Updates
      //-     .footer__twitter-post
      //-       p.footer__twiter-post Check out Dot Interior - Free PSD by
      //-     .footer__twitter-time about 10&nbsp;hours ago
      //-   .footer__item.col-3
      //-     h3.footer__subhead Contact Info
      //-     p.footer__contact-info A: Street 95, United States
      //-     p.footer__contact-info T: #[a.footer__contact-info-link(href='tel:+000012345678')!= '+ (0) 000-1234-5678']
      //-     p.footer__contact-info F: #[a.footer__contact-info-link(href='tel:+000012345678')!= '+ (0) 000-1234-5678']
      //-     p.footer__contact-info E: #[a.footer__contact-info-link(href='mailto:yourmail@yoursite.com')!= 'yourmail@yoursite.com']
      //-     p.footer__contact-info E-2: #[a.footer__contact-info-link(href='mailto:yourmail2@yoursite.com')!= 'yourmail2@yoursite.com']

      //-   .footer__item.col-3
      //-     h3.footer__subhead Newsletter Signup
      //-     form.footer__signup(method='post', action='')
      //-       label.footer__signup-label(for='nesletter-signup-name') Name#[span.footer__signup-label--request-field!= '*']
      //-       input.footer__signup-input(type='text', name='nesletter-signup-name')
      //-       label.footer__signup-label(for='') Email#[span.footer__signup-label--request-field!= '*']
      //-       input.footer__signup-input(type='text')
      //-       submit.footer__btn Sign Up Now

      //- .footer__bottom.row
      //-   .col-10
      //-     ul.footer__nav-list
      //-       li.footer__nav-item
      //-         a.footer__nav-link.footer__nav-link--active(href='#') Home
      //-       li.footer__nav-item
      //-         a.footer__nav-link(href='#') About
      //-       li.footer__nav-item
      //-         a.footer__nav-link(href='#') Services
      //-       li.footer__nav-item
      //-         a.footer__nav-link(href='#') Portfolio
      //-       li.footer__nav-item
      //-         a.footer__nav-link(href='#') Contact
      //-   p.footer__copyright © Copyright 2011. All rights reserved. Template created by: #[a.footer__copyright-link(href='#')!= 'Vladimir Babić']&emsp;/&emsp;www.vladimirbabic.net
      //-   .col-2
      //-     a.footer__logo-link(href='#')
      //-       img.footer__logo-img(src='', alt='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block nav
//-   +main-nav('10')

//- block content
//-   h1 Заголовок
//-   p Содержимое. #[a(href='blocks-demo.html') Библиотека блоков].

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
