// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@mixin logo-style($hsize, $vsize, $txtsize, $maincolor, $hilightcolor) {
  display: inline-block;
  z-index: 1;
  white-space: nowrap;
  font-family: $font-YanoneKaffeesatz;
  font-size: $txtsize;
  color: $maincolor;
  text-decoration: none;

  p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  span {
    color: $hilightcolor;
  }

  .logo__img-wrapper {
    display: inline-block;
    width: $hsize;
    height: $vsize;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.logo {

  $block-name:                &; // #{$block-name}__element

  &--main {
    @include logo-style(61px, 61px, 40px, $logo-gray, $logo-blue);
    margin-bottom: 5px;
  }

  &--page-footer {
    align-self: flex-end;
    @include logo-style(41px, 41px, 28px, $logo-gray, $text-dark-gray); /* stylelint-disable-line */
  }
}
