// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  flex-direction: row;
  align-content: flex-end;

  white-space: nowrap;

  font-family: $font-YanoneKaffeesatz;
  font-size: 40px;
  text-decoration: none;

  &__img-wrapper {
    display: flex;
    width: 61px;
    height: 61px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
