// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-image: url('../img/bg_footer.png');
  background-repeat: repeat;

  &__inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: relative;
    width: $page-width;
    padding-top: 22px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      width: calc(#{$page-width} + 20px);
      height: 6px;
      background: $grad-blue;
    }
  }

  &__top-row {
    display: inline-flex;
    align-self: center;
    // width: 100%;
    width: $page-width;
  }

  &__bottom-row {
    width: 100%;
    margin-top: 22px;
    border-top: 1px solid rgb(82, 82, 82);
    font-size: 12px;
    color: $text-dark-gray;
    font-family: $font-Droid-sans;
  }

  &__subhead {
    margin-bottom: 23px;
    padding: 0;
    color: #fff;
    font-size: 11px;
    font-family: $font-Droid-sans-bold;
  }

  &__posts-list {
    list-style-type: none;
    width: 200px;
    margin: 0;
    padding: 0;
  }

  &__posts-item {
    display: flex;
    align-content: center;
    height: 31px;
    border-bottom: 1px solid $col-footer-border;
  }

  &__list-link {
    display: block;
    align-self: center;
    position: relative;
    padding-left: 18px;
    text-decoration: none;
    @include footer-text(); /* stylelint-disable-line */

    &:hover {
      color: $logo-gray;
    }

    &:before {
      content: '+';
      display: block;
      position: absolute;
      left: 3px;
    }
  }

  &__twitter-post {
    display: block;
    text-decoration: none;
    @include footer-text(); /* stylelint-disable-line */

    &-text {
      display: block;
      position: relative;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: $bg-color;

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: -11px;
        left: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 4.5px 0;
        border-color: $bg-color transparent transparent transparent;
      }

      &--ref {
        font-family: $font-Droid-sans-bold;
      }

      &--link {
        text-decoration: none;
        color: rgb(194, 194, 194);
        font-family: $font-Droid-sans;
        font-size: 12px;

        &:hover {
          color: $text-dark-gray;
        }
      }
    }

    &-time {
      position: relative;
      margin-left: 42px;
      font-family: $font-Droid-sans;
      font-style: italic;
      font-size: 11px;
      color: $text-dark-gray;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -30px;
        @include sprite($twitter-feed-dark); /* stylelint-disable-line */
      }
    }
  }

  &__contact-info {
    @include footer-text(); /* stylelint-disable-line */

    &-link {
      text-decoration: none;
      @include footer-text(); /* stylelint-disable-line */
    }
  }

  &__signup {

    &-label {
      margin-bottom: 5px;
      display: block;
      @include footer-text(); /* stylelint-disable-line */

      &--request-field {
        color: $logo-blue;
      }
    }

    &-input {
      margin-bottom: 6px;
      width: 100%;
      height: 26px;
      border: 1px solid $border-color;
      padding: 0 5px;
      border-radius: 3px;
      background-color: $bg-color;
      font-size: 12px;
      color: $btn-text-color;
      outline: 0;
      outline-offset: 0;

      &:focus {
        outline: 0;
        box-shadow: none;
        background-color: $bg-color;
      }
    }

    &-btn {
      display: block;
      position: relative;
      margin-top: 18px;
      width: 86px;
      height: 24px;
      border: none;
      background-color: $logo-blue;
      background-image: none;
      text-align: center;
      color: #fff;
      font-size: 11px;
      font-family: $font-Droid-sans;
      cursor: pointer;
      text-shadow: 1px 1px 2px #000;
    }
  }

  &__copyright {

    &-link {
      color: $logo-blue;
      text-decoration: none;

      &:hover {
        color: $logo-gray;
      }
    }
  }
}
