//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      //- block
      .page-footer__top-row.row
        .footer__item.col-3
          h3.page-footer__subhead Latest posts
          ul.page-footer__posts-list
            li.page-footer__posts-item
              a.page-footer__list-link(href='#') Graphic Design
            li.page-footer__posts-item
              a.page-footer__list-link(href='#') Web Design
            li.page-footer__posts-item
              a.page-footer__list-link(href='#') Logo
            li.page-footer__posts-item
              a.page-footer__list-link(href='#') Custom CMS
            li.page-footer__posts-item
              a.page-footer__list-link(href='#') Web Hosting

        .page-footer__item.col-3
          h3.page-footer__subhead Twitter Updates
          a.page-footer__twitter-post(href='#')
            p.page-footer__twitter-post-text Check out Dot Interior - Free PSD by ~vBabic on&nbsp;
              span.page-footer__twitter-post-text--ref @deviantART&nbsp;
                a.page-footer__twitter-post-text--link(href='http://vbabic.deviantart.com') http://vbabic.deviantart.com
            .page-footer__twitter-post-time about 10&nbsp;hours ago

        .page-footer__item.col-3
          h3.page-footer__subhead Contact Info
          p.page-footer__contact-info A: Street 95, United States
          p.page-footer__contact-info T: #[a.page-footer__contact-info-link(href='tel:+000012345678')!= '+ (0) 000-1234-5678']
          p.page-footer__contact-info F: #[a.page-footer__contact-info-link(href='tel:+000012345678')!= '+ (0) 000-1234-5678']
          p.page-footer__contact-info E: #[a.page-footer__contact-info-link(href='mailto:yourmail@yoursite.com')!= 'yourmail@yoursite.com']
          p.page-footer__contact-info E-2: #[a.page-footer__contact-info-link(href='mailto:yourmail2@yoursite.com')!= 'yourmail2@yoursite.com']

        .page-footer__item.col-3
          h3.page-footer__subhead Newsletter Signup
          form.page-footer__signup(method='post', action='')
            label.page-footer__signup-label(for='nesletter-signup-name') Name#[span.page-footer__signup-label--request-field!= '*']
            input.page-footer__signup-input(type='text', name='nesletter-signup-name')
            label.page-footer__signup-label(for='') Email#[span.page-footer__signup-label--request-field!= '*']
            input.page-footer__signup-input(type='text')
            input.page-footer__signup-btn.button(type='submit', value='Sign Up Now')

      .page-footer__bottom-row.row
        .col-10
          +main-nav('footer')

        p.page-footer__copyright © Copyright 2011. All rights reserved. Template created by: #[a.page-footer__copyright-link(href='#')!= 'Vladimir Babić']&emsp;/&emsp;www.vladimirbabic.net
        .col-2
          a.page-footer__logo-link(href='#')
            img.page-footer__logo-img(src='', alt='')
