// В этом файле должны быть стили для БЭМ-блока details, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority


$frame-width: 57px;

.details {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  margin: {
    top:    7px;
    bottom: 0;
  }
  padding-top: 31px;
  padding-bottom: 17px;

  &:before {
    @include blockrules();
    top: 0;
  }

  &:after {
    @include blockrules();
    bottom: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0;
    min-height: 168px;

    &--contenporary {

      #{$block-name}__head:before {
        @include sprite($eye);
        @include topcalc($eye-height, $frame-height);
        @include leftcalc($eye-width, $frame-width);
      }
    }

    &--traditional {

      #{$block-name}__head:before {
        @include sprite($book);
        @include topcalc($book-height, $frame-height);
        @include leftcalc($book-width, $frame-width);
      }
    }

    &--interiors {

      #{$block-name}__head:before {
        @include sprite($mail);
        @include topcalc($mail-height, $frame-height);
        @include leftcalc($mail-width, $frame-width);
      }
    }

    &--visual {

      #{$block-name}__head:before {
        @include sprite($globe);
        @include topcalc($globe-height, $frame-height);
        @include leftcalc($globe-width, $frame-width);
      }
    }
  }

  &__head {
    margin-top: 0;
    padding-left: 47px;
    padding-top: 0;
    font-family: $font-Droid-sans;
    font-size: 18px;
    line-height: 22px;
    color: $col-style-grey;

    &:before {
      content: '';
      display: flex;
      position: absolute;
      right: 0;
      width: $frame-width;
      height: $frame-height;
      background-repeat: no-repeat;
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    font-family: $font-Droid-sans;
    font-size: 12px;
    line-height: 1.2em;
    color: $col-style-grey;
  }

  &__button {
    display: block;
    align-self: flex-end;
    position: relative;
    float: left;
    clear: right;
    width: 68px;
    margin: {
      top: 5px;
      right: 0;
      bottom: 0;
      left: 0;
    };
    border: 1px solid $col-style-grey;
    border-radius: 2px;
    padding: 5px 6px;
    background: $grad-blue;
    text-decoration: none;
    text-align: center;
    font-family: $font-Droid-sans;
    font-size: 12px;
    color: #fff;

    &:hover {

    }
  }
}
