@font-face {
  font-family: 'Droid Sans';
  src:
    url('../fonts/droidsans-webfont.eot'),
    url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidsans-webfont.woff2') format('woff2'),
    url('../fonts/droidsans-webfont.woff') format('woff'),
    url('../fonts/droidsans-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Sans Bold';
  src:
    url('../fonts/droidsans-bold-webfont.eot'),
    url('../fonts/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidsans-bold-webfont.woff2') format('woff2'),
    url('../fonts/droidsans-bold-webfont.woff') format('woff'),
    url('../fonts/droidsans-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src:
    url('../fonts/lobster-regular-webfont.eot'),
    url('../fonts/lobster-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
    url('../fonts/lobster-regular-webfont.woff') format('woff'),
    url('../fonts/lobster-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YanoneKaffeesatz';
  src:
    url('../fonts/yanonekaffeesatz-regular-webfont.eot'),
    url('../fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/yanonekaffeesatz-regular-webfont.woff2') format('woff2'),
    url('../fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
    url('../fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$font-Lobster: 'Lobster', Arial, sans-serif;
$font-Droid-sans: 'Droid Sans', Arial, sans-serif;
$font-Droid-sans: 'Droid Sans Bold', Arial, sans-serif;
$font-YanoneKaffeesatz: 'YanoneKaffeesatz', Arial, sans-serif;
